


<Router AppAssembly="@typeof(App).Assembly"
        OnNavigateAsync="OnNavigateAsync">
    <Found Context="routeData">
        <ModalDialog @ref="modalDialog" />
        <CascadingValue Value="modalDialog">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MyLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </CascadingValue>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private ModalDialog modalDialog;

    private async Task OnNavigateAsync(NavigationContext context)
    {

    }
}